---
http_interactions:
- request:
    method: get
    uri: https://mempool.space/signet/api/v1/fees/recommended
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a-cPChmRqbuFFzkGhI7mL+3AQuLh0"
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/signet/api/v1/fees/recommended
    body:
      encoding: UTF-8
      string: '{"fastestFee":1,"halfHourFee":1,"hourFee":1,"economyFee":1,"minimumFee":1}'
  recorded_at: Mon, 14 Jul 2025 22:43:50 GMT
recorded_with: VCR 6.3.1
