---
http_interactions:
- request:
    method: get
    uri: https://mempool.space/signet/api/address/n45MssfR7W2QQhRbwWzkjnYhckX9Ut96bV
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/signet/api/address/n45MssfR7W2QQhRbwWzkjnYhckX9Ut96bV
    body:
      encoding: UTF-8
      string: '{"address":"n45MssfR7W2QQhRbwWzkjnYhckX9Ut96bV","chain_stats":{"funded_txo_count":0,"funded_txo_sum":0,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":0},"mempool_stats":{"funded_txo_count":0,"funded_txo_sum":0,"spent_txo_count":0,"spent_txo_sum":0,"tx_count":0}}'
  recorded_at: Mon, 14 Jul 2025 18:03:39 GMT
recorded_with: VCR 6.3.1
